*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #4210E7;
    display: grid;
    place-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        left: 12%;
        border-left: 10px solid #EEA1BE;
        height: 100vh;
        top: 0;
    }
}

.container {
    margin-left: -50%;
}

.title {
    font-family: 'Six Caps', sans-serif;
    font-size: 10rem;
    line-height: 10.5rem;
    pointer-events: none;
    position: relative;
    color: #F3F2F4;
    text-shadow: 5px 5px 0px #4210E7, 7px 7px 0px #4210E7;

    &:before {
        content: '';
        position: absolute;
        width: 150px;
        height: 150px;
        background: #EEA1BE;
        left: 50%;
        top: 15%;
        transform: rotate(45deg);
    }

    .title-2, .title-3 {
        position: relative;
        z-index: 2;
    }
}

p {
    font-family: 'Playfair Display SC', serif;
    font-size: 1.5rem;
    margin-top: 2em;
    color: #F3F2F4;
    text-shadow: 5px 5px 0px #4210E7, 7px 7px 0px #4210E7;
    font-style: italic;
}

.waterbg {
    position: absolute;
    width: 30%;
    height: 100vh;
    z-index: -1;
    background: url('./assets/bg.jpg');
    background-color: #EEA1BE;
    background-size: cover;
    background-position: center;
    mix-blend-mode: luminosity;
    opacity: 0.17;
    right: 0;
}

.img {
    position: absolute;
    width: 16em;
    height: 27em;
    top: 30%;
    left: 30%;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.cursor {
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 1px solid #EEA1BE;
    margin-left: -1.5em;
    margin-top: -1.5em;
}

.letter {
    display: inline-block;
    line-height: 1em;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transform: translateY(-50px);
}

.img:hover {
    opacity: .5;
}


@media(max-width: 968px) {
    .container {
        margin: 0 auto;
        padding: 0 15px;
        z-index: 999;

        .title {
            font-size: 5rem;
            line-height: 2.5rem;
        }
    }

    .cursor {
        display: none;
    }
}